@{ 

}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(ViewBag.Temat != null ? ViewBag.Temat + " @" : "")@(ViewBag.Kategoria != null ? ViewBag.Kategoria + " @" : "") Forum dyskusyjne systemu informatycznego eSesja</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        #forum {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #forum td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #forum tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #forum th {
                padding-top: 12px;
                padding-bottom: 12px;
                background-color: #3366ff;
                color: white;
            }

        .table-responsive {
            overflow-x: unset;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="~/Content/login.css">

    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/jodit.min.css">
    <link rel="stylesheet" href="~/Content/PagedList.css">
    <script src="~/Scripts/jodit.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body style="padding-top:0;">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        
        <a class="navbar-brand" href="@Url.Action("Index","Home")"><img class="hlogo" src="~/img/logo.png"> Game Forum</a>
        <ul class="navbar-nav">
            @if (Session["User"] != null)
            {
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Profil", "Home")">User:  @Session["UserLogin"]</a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Wyloguj", "Home")">Wyloguj</a></li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Logowanie","Home")">Logowanie</a>
                </li>
            }

        </ul>
    </nav>
    <div class="container body-content" style="margin-top:60px;">
        @RenderBody()
        <hr />
        <footer>
            <p>Forum dyskusyjne o grach.</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
    @{Session["lastPage"] = HttpContext.Current.Request.Url.AbsolutePath;}
    <script>
        $.ajax({
  url: 'https://tinyfac.es/api/users',
  dataType: 'json',
  success: function(data) {
      console.log(data);
  }
});
    </script>
</body>
</html>
